gradio==4.19.2 # The old version runs faster in comparison.
# inference==0.9.15
inference-gpu[yolo-world]==0.9.15
supervision
timm
onnx
onnxsim
segment_anything

# 2024-07-14
# interence：The confidence score values in the new version of YOLO-World are abnormal due to a bug
# inference[yolo-world]==0.13.0